page-about {
    .getStarted{
        background-image: url('../assets/GMITlogo.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position-y: 50%;
        
    }
    
}
