<ion-header>
  <ion-navbar color="primary"  hideBackButton="true">
    <ion-title>
      Navigate
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h4 *ngIf="navigation">Select the room you are in:</h4>
  <ion-searchbar *ngIf="navigation" (ionInput)="getLocation($event)"></ion-searchbar>
  <ion-list #locationRoom *ngIf="navigation">
    <ion-item *ngFor="let room of locRooms">
      {{ room }}
    </ion-item>
  </ion-list>
  <h4 *ngIf="navigation">Select the destination Room:</h4>
  <ion-searchbar *ngIf="navigation" (ionInput)="getDestination($event)"></ion-searchbar>
  <ion-list #destinationRoom *ngIf="navigation">
    <ion-item *ngFor="let room of destRooms">
      {{ room }}
    </ion-item>
  </ion-list>
  
  <ion-buttons color="secondary" end *ngIf="navigation">
      <button  ion-button (click)="navigate()"><ion-icon name="navigate"></ion-icon>Get route</button>
    </ion-buttons> 
   <!--
   <ion-list *ngIf="navigation==false">
     <ion-item *nfFor="let navPoint of route">
        {{navPoint}}
     </ion-item>

    </ion-list>  -->
</ion-content>
